body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINERS */
.container-fluid {
  padding: 7% 15%
}

/* SECTIONS */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* navbar */
.navbar {
  padding-bottom: 72px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
}

/* download buttons */
.d-button {
  margin: 5% 3% 5% 0;
}

/* TITLE SECTION */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title imagia */
.dogo {
  transform: rotate(25deg);
  width: 60%;
}

/* FEATURES */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.f-box {
  padding: 3%;
}

.icon1 {
  padding-bottom: 20px;
  font-size: 70px;
  color: #ef8172;
}

.icon2 {
  padding-bottom: 20px;
  font-size: 70px;
  color: #ef8172;
}

.icon3 {
  padding-bottom: 20px;
  font-size: 70px;
  color: #ef8172;
}

.icon1:hover {
  color: #ff4c68;
}

.icon2:hover {
  color: #ff4c68;
}

.icon3:hover {
  color: #ff4c68;
}

/* TESTIONIALS SECTIONE */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* PRESS */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
  ;
}

/* PRICING */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.button1 {
  width: 100%;
}

.button {
  width: 100%;
}

.ass {
  padding: 2% 2%;
}

/* CTA */
/* FOOTER */
.brands {
  padding: 10px;
}

.p-last {
  padding-top: 10px;
}

/* MEDIA QUERY */
@media (max-width: 1082px) {
  #title {
    text-align: center;
  }

  .dogo {
    position: static;
    transform: rotate(0);
  }
}
